.carousel-button {
  display: none;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-brand-dark);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: transparent;
  flex-shrink: 0;
  transition: fill 0.2s, background-color 0.2s, border-color 0.2s;

  @media screen and (min-width: $bp-tablet) {
    display: flex;
  }

  &:hover {
    fill: var(--color-text-light);
    background-color: var(--color-brand-light);
    border-color: var(--color-brand-light);
  }

  &:last-child {
    transform: rotate(180deg);
  }
}
