.header-link {
  transition: color 0.2s;
  &:visited {
    color: var(--color-brand-dark);
  }

  &:hover {
    color: var(--color-brand-light);
  }
}

.footer-link {
  margin-bottom: 16px;
  font-style: normal;
  font-size: 14px;
  color: var(--color-text-light);
  transition: color 0.2s;

  @media screen and (min-width: $bp-tablet) {
    font-size: 16px;
  }

  &:hover {
    color: var(--color-brand-light);
  }
}
