.about-us {
  &__content {
    display: flex;
    gap: 32px;
  }

  &__text-container {
    padding-top: 24px;

    @media screen and (min-width: $bp-desktop) {
      padding-top: 40px;
      width: calc(60% - 16px);
    }
  }

  &__images-container {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      position: relative;
      display: flex;
      width: calc(40% - 16px);
      flex-direction: column;
      row-gap: 40px;
    }
  }

  &__image {
    max-width: 327px;
    max-height: 327px;
    border-radius: 50%;
    &--before {
      align-self: flex-start;
    }

    &--after {
      align-self: flex-end;
    }
  }

  &__star {
    position: absolute;
    animation-name: stars-animation;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;

    &--small {
      display: none;

      @media screen and (min-width: $bp-desktop) {
        display: block;
        top: 0;
        right: 0;
        margin-top: 270px;
        margin-right: 20px;
        max-width: 16px;
        max-height: 16px;
      }
    }

    &--medium {
      display: none;
      @media screen and (min-width: $bp-desktop) {
        display: block;
        top: 0;
        right: -24px;
        margin-top: 32px;
        max-width: 40px;
        max-height: 40px;
      }
    }

    &--large {
      display: none;
      @media screen and (min-width: $bp-desktop) {
        display: block;
        top: 0;
        left: 0;
        margin-left: 121px;
        margin-top: 356px;
        max-width: 64px;
        max-height: 64px;
      }
    }
  }

  @keyframes stars-animation {
    0% {
      rotate: 0deg;
      scale: 1;
    }
    50% {
      scale: 0.5;
    }

    100% {
      rotate: 1080deg;
      scale: 1;
    }
  }

  &__text {
    font-size: 22px;
    line-height: 1.7;
  }
}

@keyframes stars-animation {
  0% {
    rotate: 0deg;
    scale: 1;
  }
  50% {
    scale: 0.5;
  }

  100% {
    rotate: 1080deg;
    scale: 1;
  }
}
